body {
    background-color: darkslateblue;
}

#tempInput {
    margin: 15px;
}

#radio {
    margin: 10px;
}

#tempOutput {
    background-color: white;
    margin-top: 15px;
    border: 2px solid gray;
    height: 50px;
    width: 100px;
}